<script lang="ts">
import { getAuth, signOut } from 'firebase/auth';
import { getDatabase, onValue, ref, set } from 'firebase/database';
import { defineComponent } from 'vue';

export default defineComponent({
  data() {
    return {
      name: getAuth().currentUser?.displayName,
      list: [],
      itemname: '',
    };
  },
  methods: {
    logout() {
      signOut(getAuth()).then(() => this.$router.push('/login'));
    },
    async addItem() {
      const id = getAuth().currentUser?.uid;
      const realtime = getDatabase();
      const reference = ref(realtime, 'todo-list/' + id);
      set(reference, [...(this.list || []), this.itemname]);
      this.itemname = '';
    },
    async removeItem(item: string) {
      const id = getAuth().currentUser?.uid;
      const realtime = getDatabase();
      const reference = ref(realtime, 'todo-list/' + id);
      set(
        reference,
        this.list.filter((it) => it !== item)
      );
      this.itemname = '';
    },
  },
  async beforeMount() {
    const id = getAuth().currentUser?.uid;
    const realtime = getDatabase();
    const reference = ref(realtime, 'todo-list/' + id);

    onValue(reference, (snapshot) => {
      this.list = snapshot.val();
    });
  },
});
</script>

<template>
  <main class="pt-14">
    <header
      class="fixed top-0 left-0 w-full h-14 px-4 bg-gray-100 border border-gray-200 shadow-md flex justify-between items-center"
    >
      <div>Bem vindo {{ name }}</div>
      <div>
        <button @click="logout" class="text-indigo-500">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
            />
          </svg>
        </button>
      </div>
    </header>
    <div class="mt-8 w-full flex flex-col items-center">
      <div class="flex gap-2">
        <input v-model="itemname" class="input w-32" />
        <button @click="addItem" class="button mt-2">Add</button>
      </div>
      <div class="mt-8 border rounded-lg w-full max-w-xl divide-y text-center">
        <div class="px-4 py-2 relative" v-for="item in list" :key="item">
          {{ item }}
          <button
            @click="() => removeItem(item)"
            class="absolute right-4 transform -translate-y-1/2 top-1/2 border rounded-full w-8 h-8 flex justify-center items-center"
          >
            X
          </button>
        </div>
      </div>
    </div>
  </main>
</template>
