<script lang="ts">
import { signInWithEmailAndPassword, getAuth } from 'firebase/auth';
import { defineComponent } from 'vue';
import { RouterLink } from 'vue-router';
import Card from '../components/Card.vue';

export default defineComponent({
  data() {
    return {
      password: '',
      email: '',
    };
  },
  components: {
    RouterLink,
    Card,
  },
  methods: {
    submitForm(e: Event) {
      e.preventDefault();

      const auth = getAuth();

      signInWithEmailAndPassword(auth, this.email, this.password)
        .then(() => {
          this.$router.push('/home');
        })
        .catch(() => alert('falha ao realizar login'));
    },
  },
});
</script>

<template>
  <main class="w-screen h-screen flex justify-center items-center">
    <Card>
      <form v-on:submit="submitForm">
        <div class="mb-4">
          <h2 class="text-2xl font-bold">Login</h2>
        </div>
        <div class="w-full">
          <span class="text-md">Login</span>
          <input v-model="email" name="email" type="email" class="input" />
        </div>
        <div class="w-full mt-4">
          <span class="text-md">Senha</span>
          <input
            v-model="password"
            name="password"
            type="password"
            class="input"
          />
        </div>
        <div class="my-2 flex justify-end">
          <RouterLink to="/new-user">Criar novo usuário</RouterLink>
        </div>
        <div class="w-full mt-4 flex justify-end">
          <button class="button">
            login
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"
              />
            </svg>
          </button>
        </div>
      </form>
    </Card>
  </main>
</template>
