<script lang="ts">
import {
  createUserWithEmailAndPassword,
  getAuth,
  updateProfile,
} from 'firebase/auth';
import { get, getDatabase, ref, onValue, set } from 'firebase/database';
import { getFirestore, collection, addDoc } from 'firebase/firestore';

import { defineComponent } from 'vue';

import { RouterLink } from 'vue-router';
import Card from '../components/Card.vue';

export default defineComponent({
  data() {
    return {
      name: '',
      password: '',
      email: '',
    };
  },
  components: {
    RouterLink,
    Card,
  },
  methods: {
    submitForm() {
      const auth = getAuth();

      createUserWithEmailAndPassword(auth, this.email, this.password).then(
        ({ user }) => {
          updateProfile(user, { displayName: this.name })
            .then(() => {
              const firestore = getFirestore();
              const Users = collection(firestore, '_Users');

              const { displayName, email, uid } = auth.currentUser || {};
              addDoc(Users, { displayName, email, uid })
                .then(() => this.$router.push('/home'))
                .catch(() => alert('Falha ao registrar no firestore'));
            })
            .catch(() => alert('Falha ao registrar no firestore'));
        }
      );
    },
  },
});
</script>

<template>
  <main class="w-screen h-screen flex justify-center items-center">
    <Card>
      <div>
        <h2 class="text-2xl font-bold">Novo Usuário</h2>
      </div>
      <form @submit.prevent="submitForm">
        <div class="mt-2">
          <span calss="text-md">Nome</span>
          <input v-model="name" name="name" class="input" type="text" />
        </div>
        <div class="mt-2">
          <span calss="text-md">Email</span>
          <input v-model="email" name="email" class="input" type="email" />
        </div>
        <div class="mt-2">
          <span calss="text-md">Senha</span>
          <input
            v-model="password"
            name="password"
            class="input"
            type="password"
          />
        </div>
        <div class="mt-2 flex justify-end">
          <RouterLink to="/login">login</RouterLink>
        </div>
        <div class="flex justify-end mt-4">
          <button class="button">Salvar</button>
        </div>
      </form>
    </Card>
  </main>
</template>
