<script setup lang="ts">
import { RouterView } from 'vue-router';
import { initializeApp } from 'firebase/app';

const firebaseConfig = {
  apiKey: 'AIzaSyCj4yHXLHAxR4kQhIEfZZz9BFJvqG3jvWo',
  authDomain: 'finance-life.firebaseapp.com',
  databaseURL: 'https://finance-life.firebaseio.com',
  projectId: 'finance-life',
  storageBucket: 'finance-life.appspot.com',
  messagingSenderId: '918248152956',
  appId: '1:918248152956:web:846cdb1b7f054a4c92cef9',
  measurementId: 'G-D0WX83ZHGH',
};

// Initialize Firebase
initializeApp(firebaseConfig);
</script>

<template>
  <RouterView />
</template>

<style>
@import '@app/assets/base.css';
</style>
